@import "tailwindcss";




body{
    list-style: none;
    text-decoration: none;
    min-height: 100vh;
    overflow-x: hidden;
    background: #001415;
    
}

::selection{
    background: rgba(254, 254, 0, 1);
    color: black;

}


/* ======================FONTS============================ */




/* ANTON */

@font-face {
    font-family: "Anton";
    src: url("../assets/fonts/Anton/Anton-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* MONTSERRAT */
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/static/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* FORMULA */



@font-face {
    font-family: "Formula";
    src: url("../assets/fonts/Formula/Formula-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "Formula";
    src: url("../assets/fonts/Formula/Formula-Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}



/* =========================THEME========================= */

@theme {

    /* Colors */
    --color-primary: #001415;
    --color-secondary: #1E5052;
    --color-accent: #fefe00;
    --color-background: #fefefe;
    --color-text: #c1cbc9 ;
    --color-surface: #616e6f;
    

    /* Fonts and Typography */
    --font-formula: "Formula", sans-serif;
    --font-anton: "Anton", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-hero: 3rem;

    /* Breakpoints */
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;

    /* Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 1rem;

    /* Spacing */
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.8rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 4rem;
}

::-webkit-scrollbar {
  display: none;
}